config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="header">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="value"/>
            </xs:sequence>
            <xs:attribute name="date" type="xs:date"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="value">
        <xs:complexType>
            <xs:attribute name="key" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
